<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ todo ? 'Edit todo' : 'New todo'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-sm="12" size-md="6">
      <form [formGroup]="form">
        <ion-item>
          <ion-label> Title </ion-label>
          <ion-input formControlName="title"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Description</ion-label>
          <ion-textarea rows="2" autoGrow formControlName="desc"></ion-textarea>
        </ion-item>
      </form>

      <ion-button
        expand="block"
        shape="round"
        mode="ios"
        class="ion-margin-top"
        (click)="onSubmit()"
        [disabled]="!form.valid"
      >
        Save
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
