<ion-content class="ion-padding">
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-sm="12" size-md="6">
      <h2>
        <ion-text> ToDo </ion-text>
      </h2>

      <p>
        <ion-text> Sign in to continue </ion-text>
      </p>

      <div class="form">
        <form [formGroup]="form">
          <ion-item>
            <ion-icon name="person-outline" slot="start"></ion-icon>
            <ion-input
              formControlName="username"
              type="text"
              placeholder="Username"
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
            <ion-input
              formControlName="password"
              type="password"
              placeholder="password"
            ></ion-input>
          </ion-item>
        </form>

        <ion-button
          [disabled]="!form.valid"
          (click)="onSubmit()"
          class="ion-margin-top"
          expand="block"
          shape="round"
          mode="ios"
        >
          Login</ion-button
        >
      </div>
    </ion-col>
  </ion-row>
</ion-content>
