.index {
    height: 3rem;
    width: 3rem;
    display: grid;
    place-items: center;
    color: #ccc;
    font-size: 1.4rem;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin-inline-end: 10px;
}

.height {
    height: 100%;
}